body {
    max-height: 1000px;
    font-family: 'Comic Sans MS' !important;
}

.container-fluid {
    padding-right: .2em;
    padding-left: .2em;
    background-color: #8cf0bb;
}

.navbar-fixed-top {
    background-color: #8cf0bb;
    margin-right: 0 !important;
}

.container-fluid .navbar-brand {
    font-weight: bold;
    float: left;
    margin-left: 75px !important;
    font-size: 23px;
}

.navbar-toggle .collapsed {
    margin-right: 30px;
}

.row > div {
    margin: 20px;
    float: left;
    text-align: center;
    background-color: #8cf0bb;
    line-height: 30px;
    color: black;
}

.heading1, .heading2, .heading3 {
    font-size: 23px;
    text-align: center;
}

.container {
    padding-right: 50px !important;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    height: 1000px;
}

#collapsable-nav {
    font-size: 1.5em;
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: black !important;
    border: 2px solid black;
}

#nav-list {
    margin-bottom: 0 !important;
    margin-top: 50px !important;
    border-bottom: transparent;
}



.navbar-nav > li:hover {
    background-color: #ddd;
}

button.navbar-toggle.collapsed {
    background-color: white;
    border-color: red;
}
